footer {

  .hits {
    @include font(sans);

    .best-posts {
      @include bp(gamma) {
        padding-right: $pad*2;
      }
    }

    p {
      @include font-size(1.1);
      @include border-bottom;
      padding-bottom: .8rem;
      span{
        font-weight: bold;
        @include font(sans-bold);
      }
    }

    ul {
      padding: 0;
      @include font-size(1);
      
      li {
        list-style-type: none;
        padding: .6rem 0;
        border-bottom: 1px lighten($charcoal, 50%) solid;
        &:last-of-type {
          border-bottom: none;
        }
      }
      a {
        &:hover {
          color: $dark-blue;
          text-decoration: none;
          @include link-transition;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    @include font(sans);
    @include font-size(.8rem);
  }

}