.lt-ie9 {

  $pad: 1em;

  .module {
    padding: 1em 0;
  }

  body {
    min-width: 21em; 
  }

  .grid-pad {
    padding: $pad;

    > section, > footer {
        padding: $pad 5% $pad*2 5%;

        @include bp(alpha) {
          padding: $pad 8%;
        }
    }
  }

.main-header {

  h1 {
    background: url(../../img/built/logo_1_ie.png) no-repeat;
  }
}


nav {

    ul {
      padding: $pad/2 0;

      li {
        padding: .4em 0; 
      }
    }
  }

  footer {

    nav {

      ul {
        padding: $pad/2 0;

        li {
          padding: .4em 0;
          &::after {
            padding: 0 .3em;
          }
        }
      }
    }

  }

footer {

    .hits {
      .best-posts {
        @include bp(gamma) {
          padding-right: $pad*2;
        }
      }

      p {
        padding-bottom: .8em;
      }

      ul {

        li {

          padding: .6em 0;
        }
      }
    }
}

.post {
  border-bottom: none;
  padding-bottom: $pad*2;

  h1 {
    padding-top: 2.25em;
    margin-bottom: 1.25em;
    background-size: 13em;

    @include bp(delta) {
      background-size: 18em;
    }
  }

  p {
    text-indent: 1.5em;
  }

  blockquote {
    margin: 2em auto;
    padding: 0 2em;
    font-size: 1.2em;
    @include bp(delta) {
      width: 40em;
    }
  }

  h3 {
    margin: 1em 0 0 0;
  }

  h3, p, ul, ol, figure, figcaption, cite, .continue-reading {
      width: 40em;
      margin: 2em auto;
  }

  figure {
    margin: 2.5em auto;
  }

  figcaption {
    display: block;
    width: 90%;
  }

  ul {
    padding-left: 1.5em;
  }

}

// Add bottom border to last blog post on a page
.ie-border {
  @include border-bottom;
}

.arrows {
  padding: $pad*1.5 0 0 0;
}



}