.post {

  @include border-bottom;
  @include border-top;
  padding-bottom: $pad*2;

  h1 {
    text-align: center;
    padding-top: 3rem;
    margin-top: 0;
    margin-bottom: 2.25rem;
    background-size: 13rem;

    @include font(sans);
    @include font-size(1.75);
    letter-spacing: -.5px;
    line-height: 1.2;
    a {
      color: $dark-blue;
      &:hover {
        color: $hover-blue;
        text-decoration: underline;
        @include link-transition;
      }
      &:visited {
        color: $charcoal;
      }
    }

    @include bp(delta) {
      padding-top: 3.75rem;
      background-size: 18rem;
    }
  }

  h2 {
    @include font(serif-it);
    text-align: center;
    @include font-size(1);
    color: $charcoal;
    text-transform: uppercase;
  }

  p {
    text-indent: 1.5rem;
  }

  cite {
    display: block;
    text-indent: 0;
  }

  blockquote {
    margin: 2rem auto;
    padding: 0 2rem;
    line-height: 2;
    border-left: 1px $very-light-gray solid;
    font-style: italic;
    font-size: 1.2rem;
    @include bp(delta) {
      width: 40rem;
    }
  }

  h3 {
    margin: 1rem 0 0 0;
  }

  h3, p, ul, ol, figure, figcaption, cite, .continue-reading {
    line-height: 1.6;
    @include font-size(1.1);

    @include bp(delta) {
      width: 40rem;
      margin: 1.2rem auto;
    }
  }

    figure {
      margin: 2.5rem auto;

      img {
        display: block;
        max-width: 90%;
        height: auto;
        margin: 0 auto;
      }

      figcaption {
        @include font-size(1.3);
        text-align: center;
      }
    }

  ul {
    padding-left: 1.5rem;
  }

  .continue-reading {
    display: block;
    text-align: right;
    @include font(sans-it);
    color: $dark-blue;
    text-decoration: underline;
    &:hover {
        color: $hover-blue;
        text-decoration: none;
        @include link-transition;
      }
    @include link-transition;
  }

}