<footer class="main-footer">

  <section class="footer-bottom module" role="contentinfo">
    <p><a href="https://twitter.com/paulghaddad" title="Paul's Twitter
      page">Follow me on Twitter.</a> <a
      href="https://www.linkedin.com/in/paulghaddad/" title="Paul's LinkedIn page">Find me on LinkedIn.</a> <a href="mailto:paulh16@gmail.com">Send me an email.</a></p>

    <p>Content &copy;{{ 'now' | date: "%Y" }} Oblique Thoughts</p>
  </section>

</footer>

</div> <!-- .page-wrap -->

<script src="{{ site.baseurl }}/js/production.js"></script>
</body>
</html>
