<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>

  <body role="document">

      <div class="grid grid-pad">

        <header class="main-header" role="banner">
              <a href="{{ site.baseurl }}" title="Oblique Thoughts Home"><h1>{{ site.name }}</h1></a>
              <h2>Ideas on technology, learning and business.</h2>
        </header>
