//HTML level font declarations are in the styles.scss file

.wf-loading {
    font-family: "droid-sans";
    visibility: hidden;
  }
  .wf-active {
    visibility: visible;
  }

// Mixin to produce font-size in rem and, for fallback

@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) + px;
  font-size: $sizeValue + rem;
}

// Font-family mixins

@mixin font($font) {
  @if $font == sans-bold {
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  @else if $font == sans-it {
    font-family: "europa",sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  @else if $font == sans {
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  @else if $font == serif-it {
    font-family: "minion-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  @else if $font == serif-bold {
    font-family: "minion-pro",sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  @else {
    font-family: "minion-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

// Icon fonts
@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?-adpgbh');
  src:url('../../fonts/icomoon.eot?#iefix-adpgbh') format('embedded-opentype'),
    url('../../fonts/icomoon.woff?-adpgbh') format('woff'),
    url('../../fonts/icomoon.ttf?-adpgbh') format('truetype'),
    url('../../fonts/icomoon.svg?-adpgbh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e600";
}
.icon-feed:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e603";
  color: $dark-blue;
  @include blue-hover;
  @include link-transition;
}
.icon-arrow-left:before {
  content: "\e604";
  color: $dark-blue;
  @include blue-hover;
  @include link-transition;
}

// Base fonts

html {
  @include font(default);
  color: $body-black;
}


a {
  text-decoration: none;
  &:visited {
    color: $header-black;
  }
}
